.container {
  width: 507px;
  height: 177px;
  background: rgb(16, 23, 68);
  border-radius: 12px;
  margin-top: 31px;
}

.upper {
  height: 65px;
  border-radius: 12px 12px 0px 0px;
  background: #ff4ade;
  display: flex;
  color: #fff;
  font-size: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.upper > span {
  color: #fff;
  font-family: Roboto;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.lower {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.forecast {
  display: flex;
  color: white;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
}
.condition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.condition > p {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.pres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#p1 {
  width: 145px;
  height: 50px;
  color: #fff;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
}
#p2 {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.humidity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#p3,
#p4 {
  display: flex;
  gap: 10px;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
